<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>


        $(document).ready(function(){
            $("button").click(function(){
                $("#history").load("chat.txt");
            });
        });

      function nesto() {
          var x = document.getElementById("history");
          $.ajax({
              method: "post",
              url: "/text",

            //  data: {}
          })
              .done(function (msg) {


                  x.innerHTML = msg.poruke;

                  // marker.setPosition(KK);
                  //  map.setCenter(KK);
                  //alert( "Data Saved: " + msg );
              });
      }
    </script>
  </head>
  <body onload="nesto()">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<div id="history" style="overflow-y: scroll; height:300px;"><%= title %> <%= poruke %></div>
    <button>Refresh</button>
    <form action="/poruka" method="post">

       <input type="text" name="fpor"><br>

      <input type="submit" value="Submit">
    </form>

  </body>
</html>
